**/node_modules 
**/node_modules
**/*.env
**/*.txt

Books-API
books-collection
books-collection.zip
books-portfolio
hpotter-books
lcoal-JWT-setup.txt
my-portfolio
my-potter-project
Potter-Wiki-App
PotterWikiApp
README.md


