@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-family: 'Merriweather', serif;

  color: #ffffff; /* makes text readable */
}



input:-webkit-autofill {
  background-color: #3a2b5a !important;
  color: white !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
  20% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  80% {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%) translateY(-10px);
  }
}

.animate-fade-slide {
  animation: fadeSlide 2s ease-in-out forwards;
}

@layer utilities {
  .scrollbar-thin::-webkit-scrollbar {
    width: 6px;
  }
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #4338ca;
    border-radius: 9999px;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #1a1244;
  }
}

.scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
  border-radius: 9999px;
}
.scrollbar-track-rounded::-webkit-scrollbar-track {
  border-radius: 9999px;
}

@media (prefers-color-scheme: dark) {
  .scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #7c3aed;
  }
  .scrollbar-thin::-webkit-scrollbar-track {
    background-color: #0f0b2c;
  }
}